<ul>
    <li style="list-style: none">
        <span align="center" style="margin-left: 100px; padding-bottom: 10px">
            <img src="/app/img/doctor.png" height="135px" width="100px" />
        </span>
        <p><b>Jane M Haydock, MD</b></p>
        <p><b>Specialties:</b> Internal Medicine</p>
        <p><b>Affiliations:</b> Massachusetts General Hospital</p>
        <p><b>Practice Locations</b><br>
            Internal Medicine Associates Team 3<br>
            15 Parkman Street, Boston, MA (Map)	<br>
            <b>Phone:</b> 617-726-2368</p>
        <hr />
        <p><b>Diagnosis:</b> Hypertension Disorder</p>
        <hr />
        <div class="col-sm-8 col-sm-offset-1">
        <form>
            <div class="form-group">
                <label>1. Was a doctor helpful in explaining the illness</label>
                <input class="form-control">
            </div>
            <div class="form-group">
                <label>2. Did a doctor explain his diagnosis</label>
                <input class="form-control">
            </div>
            <div class="form-group">
                <label>3. Please rate your experience 1-very unsatisfied, 5-very satisfied</label>
                <label class="radio-inline"><input type="radio" name="optradio"> 1</label>
                <label class="radio-inline"><input type="radio" name="optradio"> 2</label>
                <label class="radio-inline"><input type="radio" name="optradio"> 3</label>
                <label class="radio-inline"><input type="radio" name="optradio"> 4</label>
                <label class="radio-inline"><input type="radio" name="optradio"> 5</label>
            </div>
            <a ng-href="#/history" type="submit" class="btn btn-primary">Submit</a>
        </form>
        </div>
    </li>
</ul>