<h3>Practitioners</h3>
<ul>
    <li style="list-style: none">
        <p>
            <img src="/app/img/doctor.png" class="img-thumbnail" height="135px" width="100px"
                 style="float: left; padding-right: 20px; margin-right: 10px" />
        <b><a ng-href="#/doctor/1234">Jane M Haydock, MD</a></b><br/>
        <b>Specialties:</b> Internal Medicine<br>
        <b>Practice Locations</b><br>
            Internal Medicine Associates Team 3<br>
            100 Everett Avenue, Chelsea, MA<br>
            <b>Phone:</b> 617-887-4600</p>
    </li>
    <li style="list-style: none">
        <p>
            <img src="/app/img/doctor.png" class="img-thumbnail" height="135px" width="100px"
                 style="float: left; padding-right: 20px; margin-right: 10px" />
            <b><a ng-href="#/doctor/1234">Joseph C Doe, MD</a></b><br/>
            <b>Specialties:</b> Internal Medicine<br>
            <b>Practice Locations</b><br>
            Chelsea Healthcare Center<br>
            15 Parkman Street, Boston, MA <br>
            <b>Phone:</b> 617-726-2368</p>
    </li>
    <li style="list-style: none">
        <p>
            <img src="/app/img/doctor.png" class="img-thumbnail" height="135px" width="100px"
                 style="float: left; padding-right: 20px; margin-right: 10px" />
            <b><a ng-href="#/doctor/1234">Jane M Haydock, MD</a></b><br/>
            <b>Specialties:</b> Internal Medicine<br>
            <b>Practice Locations</b><br>
            Brockton Pediatrics<br>
            65 Libby St, Brockton, MA<br>
            <b>Phone:</b> 508-584-6060</p>
    </li>
</ul>
<p><a ng-href="#/history" type="submit" class="btn btn-primary">Hospital Stay</a>
    <a ng-href="#/history" type="submit" class="btn btn-primary">Previouse Stays</a>
</p>
<p style="font-size: x-small">Data displayed for Sun, Nov 8 2015 EST</p>